
	
<html>
    <head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>All Members</title>
    </head>
    <body>
        <h1 class = "center-align">All Members</h1>
        <div class = "container">
             <table class = "highlight striped">
                <thead>
                    <tr>
                        <th>RSN</th>
                        <th>NAME</th>
                        <th>BRANCH</th>
                        <th>GENDER</th>
                        <th>Phone no.</th>
                        <th>ROLE</th>
                        <th>Login Status</th>
                     </tr>
                </thead>
                <tbody>
                    
                      <% users.forEach(function(user){ %>
                        <tr>
                          <th><%= user.rsn %> <a href='/user/<%= user.name %>'></a></th>
                          <th><%= user.name %> </th>
                          <th><%= user.branch %> </th>
                          <th><%= user.gender %></th>
                          <th><%= user.phno %></th>
                          <th><%= user.role %></th>
                          <th><%= user.loginStatus %></th>
                        </tr>   
                      <% }) %>
                                     
                </tbody>
             </table>       
        </div>
    </body>
</html>